$primaryColor: #5ec576;
$secondaryColor: #ffcb03;
$tertiaryColor: #ff585f;
$primaryDarker: #4bbb7d;
$secondaryDarker: #ffbb00;
$tertiaryDarker: #fd424b;
$primaryOpacity: #5ec5763a;
$secondaryOpacity: #ffcd0331;
$tertiaryOpacity: #ff58602d;
$primaryGradient: linear-gradient(to top left, #39b385, #9be15d);
$secondaryGradient: linear-gradient(to top left, #ffb003, #ffcb03);
